/*
========================================================================
 Header
========================================================================
*/


@media only screen and (min-width: 1200px) {
    .header_container{
        display: flex;
        padding: 0 10px;
        justify-content: space-between;
    }
    .header_left{
        width: 100px;
        height: 100px;
    }
    .header_mid{
        margin: 14px 0;
        padding: 18px;
        font-size: 1.4rem;
        align-items: center;
    }

    .header_right{
        margin: 6px 0;
    }

    .header_right ul{
        display: flex;
        margin: 20px;
    }
    .header_right ul li{
        margin: 10px 5px;
    }

    .header_right ul li a{
        background-color: pink;
    }

    .header_right ul li a:hover{
        background-color: rgb(196, 130, 141);
    }
}


/*
========================================================================
 Profile Section
========================================================================
*/

@media only screen and (min-width: 1200px) {
    .profile_container{
        width: 80%;
    }    
    .profile_head{
        text-align: right;
    }
    .profile_bottom{
        text-align: left;
    }
}


/*
========================================================================
 About me Section
========================================================================
*/

@media only screen and (min-width: 1200px) {
    .about_me_head{
        margin-top: 25px;
    }

    .about_me_mid{
        display: flex;
        margin: 50px 5px;
        margin-bottom: 30px;
        justify-content: center;
        align-items: center;
    }
    .about_me_mid_left{
        width: 35%;
    }

    .about_me_mid_left img{
        width: 150px;
        height: 150px;
    }

    .about_me_mid_right{
        width: 50%;
        text-align: left;
    }

    .about_me_first_heading_para{
        margin-left: 0;
        padding-left: 0;
    }

    .about_me_second_describe_para{
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .about_me_info{
        margin-left: 0;
        padding-left: 0;
    }

}

/*
========================================================================
 skills Section
========================================================================
*/

@media only screen and (min-width: 1200px) {
    .life_container{
        display: flex;
        justify-content: center;
    }

    .desktop_card{
        width: 30%;
        margin: 5px;
        padding: 10px;
    }

    .life_right_card li{
        margin: 60px 0;
    }
}

/*
========================================================================
 Contact Section
========================================================================
*/

@media only screen and (min-width: 1200px) {
    .achievements{
        width: 30%;
        margin-left: 16px;
        margin-top: 10px;
    }
    .contacts{
        width: 30%;
    }
    .social_media_buttons{
        width: 30%;
        position: relative;
    }

    .media_buttons{
        width: 120px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .achievements_contact_container{
        display: flex;
        justify-content: space-between;
    }
}



/*
========================================================================
 Footer Section
========================================================================
*/

@media only screen and (min-width: 1200px) {
    .footer_container{
        display: flex;
        padding: 0;
        padding-right: 30px;
        padding-left: 30px;
        justify-content: space-between;
    }

    .footer_left ul{
        display: flex;
    }

    .footer_left li a:hover{
        background-color: gray;
        color: black;
    }

    .footer_right{
        align-self: center;
    }
}





